<div class="">
    <div class="container-fluid">

        <!-- start page title -->
        
        <!-- end page title -->

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <h4 class="card-title">Administrators</h4>

                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Full Name</th>
                                        <th scope="col" class="text-center">
                                          Email<br>
                                        </th>  
                                        <th scope="col" class="text-center">Role</th>
                                        <th scope="col" class="text-center">Phone Number</th>

                                      </tr>
                                </thead>
                                <tr>
                                    <th class="text-nowrap" scope="row">Charles Ewudzi</th>
                                    <td>cewudzie0@gmail.com</td>
                                    <td>Super Administrator</td>
                                    <td>+233596508407</td>
                                </tr>
                                <tbody>
                                
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- end col -->

        </div> <!-- end row -->

    </div> <!-- container-fluid -->
</div